/* LoginForm.css */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 40px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 10px; /* Increased border radius */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #282c34; /* Darker background */
  color: #fff; /* White text */
}
  
  .login-page header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-page h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .login-form {
    display: flow;
    width: 100%;
    max-width: 400px;
  }
  
  .login-form input,
  .login-form button {
    padding: 12px 20px; /* Increased padding */
    border: 1px solid #444; /* Darker border border: 1px solid #ccc; */
    background-color: #fff; /* Darker background */
    color: #333; /* White text */
    margin: 10px 0; /* Margin between inputs */
    font-size: 16px; /* Fixed font size for readability */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-form button {
    background-color: #4caf50; /* Adjust color as needed */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: #3e8e41; /* Adjust hover color as needed */
  }

  .login-form input:focus {
    outline: none;
    border-color: #666; /* Adjust as needed */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .login-form input.error {
    border-color: red;
  }
  
  .error-message {
    color: #ff0000; /* Or another contrasting color */
    font-weight: bold;
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 14px;
  }

  .loading-message {
    color: #fff;
    font-weight: bold;
  }
  
  .signup-link {
    color: #fff;
    text-decoration: underline;
  }

  .a {
    font-weight: 500;
    color: #a7a206;
    text-decoration: inherit;
}

.loader {
  width: 5px;
  height: 5px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 3ms linear infinite;
  margin: 10px 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

